<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
    <script src="./vue.js"></script>
  </head>

  <body>
    <div id="container">
      <div id="control">调整参数</div>
      <div id="personList">
        <p>人员列表</p>
        <input type="text" placeholder="Input Name" v-model="searchName" />
        <div id="overview">
          <div
            v-for="item in personListFilter"
            :key="item.id"
            :data-cate="cateMap[item.category]"
            @click="changeOri(item)"
          >
            <p>{{item.name}}</p>
          </div>
        </div>
      </div>
    </div>
    <div id="arcContainer"></div>
    <div id="paraContainer"></div>
  </body>
  <script>
    const nodeColor = ["#e21818", "#00235b", "#ffdd83", "#98dfd6"];
    // 力导向图
    let height = 900;
    let width = 1100;
    let links = [];
    let nodes = [];
    let linksData = [];
    let nodesData = [];
    $.getJSON("./links_no_re.json", function (data) {
      linksData = data;
    });
    $.getJSON("./nodes.json", function (data) {
      nodesData = data;
    });
    let chart = function () {
      links = linksData.filter((d) => d.sourceSize + d.targetSize > 500);
      nodes = nodesData;
      console.log(links);
      console.log(nodes);
      let chargeScale = d3
        .scalePow()
        .exponent(1)
        .domain(d3.extent(nodes, (d) => d.symbolSize))
        .range([-1, -125]);
      let sizeScale = d3
        .scaleSqrt()
        .domain(d3.extent(nodes, (d) => d.symbolSize))
        .range([1, 15]);
      // 创建模拟系统
      const simulation = d3
        .forceSimulation(nodes)
        .force(
          "link",
          d3
            .forceLink(links)
            .id((d) => d.id)
            .distance(5)
            .strength(0.02)
        )
        .force(
          "charge",
          d3.forceManyBody().strength((d) => chargeScale(d.symbolSize))
        )
        .force("x", d3.forceX())
        .force("y", d3.forceY());

      // 添加svg
      const svg = d3
        .create("svg")
        .attr("viewBox", [-width / 2 - 90, -height / 2, width, height])
        .call(
          d3.zoom().on("zoom", (event) => {
            node.attr("transform", event.transform);
            link.attr("transform", event.transform);
            text.attr("transform", event.transform);
          })
        );
      // 添加边
      const link = svg
        .append("g")
        .attr("class", "link")
        .attr("stroke", "#999")
        .attr("stroke-opacity", 0.7)
        .selectAll("line")
        .data(links)
        .join("line")
        .attr("class", "links");

      let linkF = link.filter((d) => d.sourceSize + d.targetSize > 800);

      // 添加节点

      const node = svg
        .append("g")
        .attr("class", "node")
        .attr("fill", "#fff")
        .attr("stroke", "#000")
        .attr("stroke-width", 1.5)
        .selectAll("circle")
        .data(nodes)
        .join("circle")
        .attr("class", "nodes")
        .attr("fill", (d) => nodeColor[d.category])
        .attr("stroke-width", 0.5)
        .attr("r", (d) => sizeScale(d.symbolSize))
        .call(drag(simulation));

      node
        .on("mouseover", (event, d) => {
          node
            .transition()
            .duration(1000)
            .style("opacity", (n) => (isConnected(d, n) ? 1 : 0.1));

          text
            .transition()
            .duration(1000)
            .style("display", (n) =>
              isConnected(d, n) & (n.symbolSize > 400) || n == d
                ? "block"
                : "none"
            );

          linkF
            .transition()
            .duration(1000)
            .style("opacity", (l) =>
              l.source === d || l.target === d ? 1 : 0.1
            );
        })
        .on("mouseout", () => {
          node.transition().duration(1000).style("opacity", 1);
          text
            .transition()
            .duration(1000)
            .style("display", (d) => (d.symbolSize > 1000 ? "block" : "none"));
          linkF.transition().duration(1000).style("opacity", 1);
        });

      node.on("click", (event, d) => {
        let name = "node." + d.category + "." + d.name;
        changeArc(name);
      });
      function isConnected(a, b) {
        return (
          linkedByIndex[`${a.index},${b.index}`] ||
          linkedByIndex[`${b.index},${a.index}`] ||
          a.index === b.index
        );
      }

      const linkedByIndex = {};
      linksData.forEach((d) => {
        linkedByIndex[`${d.source.index},${d.target.index}`] = true;
      });
      // console.log(linksData);
      // console.log(linkedByIndex);
      // 添加图例
      let cateMap = {
        0: "种子账号",
        1: "确定账号",
        2: "下属机构",
        3: "疑似账号",
      };
      const legend = svg
        .append("g")
        .attr("transform", `translate(-230,${-height / 2 + 10})`);
      const legendData = nodeColor.map((color, i) => ({
        color: color,
        cateOri: i,
        category: cateMap[i],
      }));

      const legendEntry = legend
        .selectAll("g")
        .data(legendData)
        .enter()
        .append("g")
        .attr("transform", (d, i) => `translate(${i * 120},0)`);

      legendEntry.on("mouseover", function (event, d) {
        const selectedNodes = d3
          .selectAll("circle")
          .filter((n) => n.category === d.cateOri);
        const noselecteNdoes = d3
          .selectAll("circle")
          .filter((n) => n.category !== d.cateOri);

        selectedNodes.transition().duration(1000).style("opacity", 1);
        noselecteNdoes.transition().duration(1000).style("opacity", 0.1);
      });
      legendEntry.on("mouseout", function (event, d) {
        d3.selectAll("circle").transition().duration(1000).style("opacity", 1);
      });
      let rwidth = 20;
      let rheight = 20;
      let rradius = 5;

      const pathData = d3.path();
      pathData.moveTo(rradius, 0);
      pathData.lineTo(rwidth - rradius, 0);
      pathData.quadraticCurveTo(rwidth, 0, rwidth, rradius);
      pathData.lineTo(rwidth, rheight - rradius);
      pathData.quadraticCurveTo(rwidth, rheight, rwidth - rradius, rheight);
      pathData.lineTo(rradius, rheight);
      pathData.quadraticCurveTo(0, rheight, 0, rheight - rradius);
      pathData.lineTo(0, rradius);
      pathData.quadraticCurveTo(0, 0, rradius, 0);

      legendEntry
        .append("path")
        .attr("d", pathData.toString())
        .attr("fill", (d) => d.color);

      legendEntry
        .append("text")
        .attr("font-size", "12px")
        .text((d) => `${d.category}`)
        .attr("x", 25)
        .attr("y", 15);

      // 添加标题
      // node.append("title").text((d) => d.name);

      const text = svg
        .append("g")
        .attr("fill", "#000")
        .selectAll("text")
        .data(nodes)
        .join("text")
        .text((d) => d.name)
        .attr("x", (d) => d.x)
        .attr("y", (d) => d.y)
        .style("font-size", "12px")
        .style("display", (d) => (d.symbolSize > 1000 ? "block" : "none"))
        .style("text-anchor", "middle") // 水平居中对齐
        .style("dominant-baseline", "central")
        .style("pointer-events", "none");

      simulation.on("tick", () => {
        linkF
          .attr("x1", (d) => d.source.x)
          .attr("y1", (d) => d.source.y)
          .attr("x2", (d) => d.target.x)
          .attr("y2", (d) => d.target.y);

        node.attr("cx", (d) => d.x).attr("cy", (d) => d.y);
        text.attr("x", (d) => d.x).attr("y", (d) => d.y);
      });

      // d3.invalidation.then(() => simulation.stop());

      return svg.node();
    };
    let drag = function (simulation) {
      function dragstarted(event, d) {
        if (!event.active) simulation.alphaTarget(0.3).restart();
        d.fx = d.x;
        d.fy = d.y;
      }

      function dragged(event, d) {
        d.fx = event.x;
        d.fy = event.y;
      }

      function dragended(event, d) {
        if (!event.active) simulation.alphaTarget(0);
        d.fx = null;
        d.fy = null;
      }

      return d3
        .drag()
        .on("start", dragstarted)
        .on("drag", dragged)
        .on("end", dragended);
    };
    setTimeout(() => {
      document.querySelector("#container").appendChild(chart());
      new Vue({
        el: "#personList",
        data: {
          personList: nodes,
          cateMap: {
            0: "种子账号",
            1: "确定账号",
            2: "下属机构",
            3: "疑似账号",
          },
          searchName: null,
        },
        computed: {
          personListFilter() {
            if (!this.searchName) {
              return this.personList;
            }
            return this.personList.filter((item) =>
              item.name.includes(this.searchName)
            );
          },
        },
        methods: {
          changeOri(item) {
            // let name = "node." + item.category + "." + item.name;
            // changeArc(name);
            let nodes = document.querySelectorAll("#container .nodes");

            node = [...nodes].filter((d) => d.__data__.name === item.name);
            console.log(node);
            // 触发node点击事件
            node[0].dispatchEvent(new MouseEvent("click"));
            // 触发node悬停事件
            node[0].dispatchEvent(new MouseEvent("mouseover"));
            setTimeout(() => {
              node[0].dispatchEvent(new MouseEvent("mouseout"));
            }, 5000);
          },
        },
      });
    }, 500);

    // 弦图
    let data = [];
    let nameOri = "node.1.grainnemcc";
    let arcWidth = 400;
    let radius = arcWidth / 2;
    let colorout = "#e84646";
    let colorin = "#ffed00";
    let colornone = "#00235b";
    let arcLine = d3
      .lineRadial()
      .curve(d3.curveBundle.beta(0.85))
      .radius((d) => d.y)
      .angle((d) => d.x);
    let tree = d3.cluster().size([2 * Math.PI, radius - 100]);
    function hierarchy(data, delimiter = ".") {
      let root;
      const map = new Map();
      data.forEach(function find(data) {
        const { name } = data;
        if (map.has(name)) return map.get(name);
        const i = name.lastIndexOf(delimiter);
        map.set(name, data);
        if (i >= 0) {
          find({ name: name.substring(0, i), children: [] }).children.push(
            data
          );
          data.name = name.substring(i + 1);
        } else {
          root = data;
        }
        return data;
      });
      return root;
    }
    function bilink(root) {
      const map = new Map(root.leaves().map((d) => [id(d), d]));
      for (const d of root.leaves()) {
        d.incoming = [];
        d.outgoing = (d.data.imports || []).map((i) => [d, map.get(i)]);
      }

      for (const d of root.leaves())
        for (const o of d.outgoing) o[1].incoming.push(o);
      return root;
    }
    function id(node) {
      return `${node.parent ? id(node.parent) + "." : ""}${node.data.name}`;
    }
    let chartArc = function () {
      const root = tree(
        bilink(
          d3
            .hierarchy(hierarchy(data))
            .sort(
              (a, b) =>
                d3.ascending(a.height, b.height) ||
                d3.ascending(a.data.name, b.data.name)
            )
        )
      );

      const svg = d3
        .create("svg")
        .attr("viewBox", [
          -arcWidth / 2,
          -arcWidth / 2 + 55,
          arcWidth,
          arcWidth,
        ]);
      const node = svg
        .append("g")
        .attr("font-family", "sans-serif")
        .attr("font-size", 4)
        .selectAll("g")
        .data(root.leaves())
        .join("g")
        .attr(
          "transform",
          (d) => `rotate(${(d.x * 180) / Math.PI - 90}) translate(${d.y},0)`
        )
        .append("text")
        .attr("dy", "0.31em")
        .attr("x", (d) => (d.x < Math.PI ? 6 : -6))
        .attr("text-anchor", (d) => (d.x < Math.PI ? "start" : "end"))
        .attr("transform", (d) => (d.x >= Math.PI ? "rotate(180)" : null))
        .text((d) => d.data.name)

        .each(function (d) {
          d.text = this;
        })
        .on("mouseover", overed)
        .on("mouseout", outed)
        .call((text) =>
          text
            .append("title")
            .text(
              (d) =>
                `${id(d).split(".")[2]}\n${d.outgoing.length} outgoing \n${
                  d.incoming.length
                } incoming`
            )
        )
        .attr("fill", (d) => {
          return d.parent.data.name === "0"
            ? nodeColor[0]
            : d.parent.data.name === "1"
            ? nodeColor[1]
            : d.parent.data.name === "2"
            ? nodeColor[2]
            : nodeColor[3];
        });

      const link = svg
        .append("g")
        .attr("stroke", colornone)
        .attr("stroke-width", ".1px")
        .attr("fill", "none")
        .selectAll("path")
        .data(root.leaves().flatMap((leaf) => leaf.outgoing))
        .join("path")
        .style("mix-blend-mode", "multiply")
        .attr("d", ([i, o]) => arcLine(i.path(o)))
        .each(function (d) {
          d.path = this;
        });

      function overed(event, d) {
        node.attr("fill", "#000");
        link.style("mix-blend-mode", null);

        d3.select(this).attr("font-weight", "bold");

        d3.selectAll(d.incoming.map((d) => d.path))
          .attr("stroke", colorin)
          .raise();
        d3.selectAll(d.incoming.map(([d]) => d.text))
          .attr("fill", colorin)
          .attr("font-weight", "bold");
        d3.selectAll(d.outgoing.map((d) => d.path))
          .attr("stroke", colorout)
          .raise();
        d3.selectAll(d.outgoing.map(([, d]) => d.text))
          .attr("fill", colorout)
          .attr("font-weight", "bold");
      }

      function outed(event, d) {
        node.attr("fill", (d) => {
          return d.parent.data.name === "0"
            ? nodeColor[0]
            : d.parent.data.name === "1"
            ? nodeColor[1]
            : d.parent.data.name === "2"
            ? nodeColor[2]
            : nodeColor[3];
        });
        link.style("mix-blend-mode", "multiply");
        d3.select(this).attr("font-weight", null);
        d3.selectAll(d.incoming.map((d) => d.path)).attr("stroke", null);
        d3.selectAll(d.incoming.map(([d]) => d.text))
          .attr("fill", null)
          .attr("font-weight", null);
        d3.selectAll(d.outgoing.map((d) => d.path)).attr("stroke", null);
        d3.selectAll(d.outgoing.map(([, d]) => d.text))
          .attr("fill", null)
          .attr("font-weight", null);
      }

      // 为node添加点击事件
      node.on("click", function (event, data) {
        let nodes = document.querySelectorAll("#container .nodes");
        let node = [...nodes].filter((d) => d.__data__.name === data.data.name);
        // 触发node悬停事件
        node[0].dispatchEvent(new MouseEvent("mouseover"));
        setTimeout(() => {
          node[0].dispatchEvent(new MouseEvent("mouseout"));
        }, 5000);
      });
      return svg.node();
    };
    $.getJSON("./nodes_arc.json", function (dataJson) {
      // 找到种子节点
      data.push(dataJson.find((item) => item.name === nameOri));
      console.log(dataJson);
      // 找到导入种子节点的节点
      dataJson.forEach((item) => {
        // 找到种子节点导入的节点
        (item.imports || []).forEach((d) => {
          if (d === nameOri) {
            data.push(item);
          }
        });
        // 找到种子节点导出的节点
        (data[0].imports || []).forEach((d) => {
          if (d === item.name) {
            data.push(item);
          }
        });
      });
      let dataLength = data.length;
      let filterScale = d3.scaleLinear().domain([0, 300]).range([0, 500]);
      data.forEach((df) => {
        if (df.name === nameOri) return;
        else
          dataJson.forEach((item) => {
            // 找到导入种子节点的节点
            (item.imports || []).forEach((i) => {
              if (i === df.name) {
                if ((i !== nameOri) & (item.size > filterScale(dataLength))) {
                  item.imports = [df.name];
                  data.push(item);
                }
              }
            });
            // 找到种子节点导出的节点
            (df.imports || []).forEach((i) => {
              if (i === item.name) {
                if (
                  (item.name !== nameOri) &
                  (item.size > filterScale(dataLength))
                ) {
                  item.imports = [];
                  data.push(item);
                }
                if (item.size <= filterScale(dataLength)) {
                  df.imports = df.imports.filter((d) => d !== item.name);
                }
              }
            });
          });
      });
      data = Array.from(new Set(data));
      console.log(data);
      document.querySelector("#arcContainer").appendChild(chartArc());

      // console.log(root);
    });

    function changeArc(name) {
      $.getJSON("./nodes_arc.json", function (dataJson) {
        data = [];
        nameOri = name;
        console.log(nameOri);
        // 找到种子节点
        data.push(dataJson.find((item) => item.name === nameOri));
        console.log(dataJson);
        // 找到导入种子节点的节点
        dataJson.forEach((item) => {
          // 找到种子节点导入的节点
          (item.imports || []).forEach((d) => {
            if (d === nameOri) {
              data.push(item);
            }
          });
          // 找到种子节点导出的节点
          (data[0].imports || []).forEach((d) => {
            if (d === item.name) {
              data.push(item);
            }
          });
        });
        let dataLength = data.length;
        let filterScale = d3.scaleLinear().domain([0, 300]).range([0, 600]);
        data.forEach((df) => {
          if (df.name === nameOri) return;
          else
            dataJson.forEach((item) => {
              // 找到导入种子节点的节点
              (item.imports || []).forEach((i) => {
                if (i === df.name) {
                  if ((i !== nameOri) & (item.size > filterScale(dataLength))) {
                    item.imports = [df.name];
                    data.push(item);
                  }
                }
              });
              // 找到种子节点导出的节点
              (df.imports || []).forEach((i) => {
                if (i === item.name) {
                  if (
                    (item.name !== nameOri) &
                    (item.size > filterScale(dataLength))
                  ) {
                    item.imports = [];
                    data.push(item);
                  }
                  if (item.size <= filterScale(dataLength)) {
                    df.imports = df.imports.filter((d) => d !== item.name);
                  }
                }
              });
            });
        });
        data = Array.from(new Set(data));
        console.log(data);
        document
          .querySelector("#arcContainer")
          .removeChild(document.querySelector("#arcContainer").childNodes[0]);
        document.querySelector("#arcContainer").appendChild(chartArc());
        changePara();
        // console.log(root);
      });
    }

    // 平行坐标图
    let nodes_parra_f = [];
    let keys = [];
    let x;
    let y;
    let paraWidth = 1100;
    let paraHeight = 480;
    let margin = { top: 30, right: 10, bottom: 30, left: 10 };
    let deselectedColor = "#ddd";
    let colors = d3.interpolatePuBu;
    let label = (d) => d.name;
    let line = d3
      .line()
      .defined(([, value]) => value != null)
      .x(([key, value]) => x.get(key)(value))
      .y(([key]) => y(key));

    function chartPara() {
      const svg = d3
        .create("svg")
        .attr("viewBox", [0, 0, paraWidth, paraHeight]);

      svg
        .append("g")
        .attr("fill", "none")
        .attr("stroke-width", 0.5)
        .attr("stroke-opacity", 1)
        .selectAll("path")
        .data(nodes_parra_f)
        .join("path")
        .attr("stroke", "#ccc")
        .attr("d", (d) => line(d3.cross(keys, [d], (key, d) => [key, d[key]])))
        .append("title")
        .text((d) => d.name);

      svg
        .append("g")
        .selectAll("g")
        .data(keys)
        .join("g")
        .attr("transform", (d) => `translate(0,${y(d)})`)
        .each(function (d) {
          d3.select(this).call(d3.axisBottom(x.get(d)));
        })
        .call((g) =>
          g
            .append("text")
            .attr("x", margin.left)
            .attr("y", -6)
            .attr("text-anchor", "start")
            .attr("fill", "currentColor")
            .text((d) => d)
        )
        .call((g) =>
          g
            .selectAll("text")
            .clone(true)
            .lower()
            .attr("fill", "none")
            .attr("stroke-width", 2)
            .attr("stroke-linejoin", "round")
            .attr("stroke", "white")
        );

      return svg.node();
    }
    setTimeout(() => {
      $.getJSON("./nodes_parra.json", (dataP) => {
        nodes_parra_f = dataP.filter((d) => {
          return data.find((i) => i.name === d.name);
        });
        keys = Object.keys(nodes_parra_f[0]).filter(
          (d) => (d !== "id") & (d != "name")
        );
        console.log(nodes_parra_f);
        console.log(keys);
        x = new Map(
          Array.from(keys, (key) => [
            key,
            d3.scaleLinear(
              d3.extent(nodes_parra_f, (d) => d[key]),
              [margin.left, paraWidth - margin.right]
            ),
          ])
        );
        y = d3.scalePoint(keys, [margin.top, paraHeight - margin.bottom]);
        document.querySelector("#paraContainer").appendChild(chartPara());
      });
    }, 300);
    function changePara() {
      $.getJSON("./nodes_parra.json", (dataP) => {
        nodes_parra_f = dataP.filter((d) => {
          return data.find((i) => i.name === d.name);
        });
        keys = Object.keys(nodes_parra_f[0]).filter(
          (d) => (d !== "id") & (d != "name")
        );
        console.log(nodes_parra_f);
        x = new Map(
          Array.from(keys, (key) => [
            key,
            d3.scaleLinear(
              d3.extent(nodes_parra_f, (d) => d[key]),
              [margin.left, paraWidth - margin.right]
            ),
          ])
        );
        y = d3.scalePoint(keys, [margin.top, paraHeight - margin.bottom]);
        document
          .querySelector("#paraContainer")
          .removeChild(document.querySelector("#paraContainer").childNodes[0]);
        document.querySelector("#paraContainer").appendChild(chartPara());
      });
    }
  </script>
  <style>
    body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100vh;
      font-style: "Times New Roman";
    }
    * {
      margin: 0;
      overflow: hidden;
    }
    #container {
      width: 55%;
      height: 100vh;
      position: relative;
      top: 1px;
      font-size: 9px;
      text-align: center;
      left: 1px;
    }
    #personList {
      width: 15%;
      height: 83vh;
      position: absolute;
      /* border: 1px solid #000; */
      border-radius: 10px;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
      background-color: rgba(255, 255, 255, 0.95);
      top: 8px;
      left: 8px;
      padding: 0;
    }
    #personList > p {
      margin-top: 4px;
    }
    #personList input {
      width: 90%;
      margin: 6px 3px 1px 1px;
      font-size: 10px;
    }
    #personList #overview {
      width: 100%;
      height: 97%;
      /* border: 1px solid #000; */
      overflow-y: scroll;

      overflow-x: hidden;

      padding: 10px;
      box-sizing: border-box;
      padding: 2px;
    }
    #personList #overview::-webkit-scrollbar {
      width: 4px;
      position: absolute;
      /* display: none; */
    }
    #personList #overview::-webkit-scrollbar-thumb {
      background: #ccc;
      border-radius: 5px;
    }
    #personList #overview::-webkit-scrollbar-thumb:hover {
      background: #aaa;
      width: 8px;
    }
    #personList #overview div {
      width: 100%;
      /* border:solid #000; */
      height: 20px;
      line-height: 20px;
      border-bottom: 0.5px solid #aaa;
      font-size: 12px;
      /* height: 20px; */
      transition: all 0.5s;
      position: relative;
    }
    #personList #overview div::after {
      content: attr(data-cate);
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(100, 100, 100, 1);
      top: 0;
      left: 0;
      z-index: -1;
      color: white;
      transform: translate(0, 100%);
      transition: all 0.5s;
    }
    #personList #overview div:hover {
      cursor: pointer;
    }
    #personList #overview div:hover::after {
      z-index: 1;
      transform: translate(0, 0);
    }
    #personList #overview div p {
      transform: scale(0.8);
    }
    #control {
      width: 98%;
      height: 100px;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.95);
      bottom: 8px;
      /* backdrop-filter: blur(10px); */

      border-radius: 10px;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
      left: 50%;
      transform: translate(-50%);
      padding: 10px;
      box-sizing: border-box;
    }

    #arcContainer {
      width: 43%;
      height: 60vh;
      position: absolute;
      top: 8px;
      /* border: 1px solid #000; */
      right: 8px;
      border-radius: 10px;
      box-sizing: border-box;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    }
    #paraContainer {
      width: 43%;
      height: 37vh;
      position: absolute;
      bottom: 8px;
      /* border: 1px solid #000; */
      right: 8px;
      box-sizing: border-box;
      border-radius: 10px;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    }
  </style>
</html>
